<div class="page-header">
  <h1>
    Listings
    <a href="/listings/new" class="btn btn-lg btn-success">New Listing</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Start time</th>
        <th>End time</th>
        <th>Location</th>
        <th>Last Name</th>
        <th>Skill Level</th>
        <th>Posted at</th>
        <th>Actions</th>
      </tr>

      <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.start_time.strftime('%B %e, %Y at %l:%M%P') %></td>
        <td><%= listing.end_time.strftime('%B %e, %Y at %l:%M%P') %></td>
        <td><%= listing.location %></td>
        <td><%= listing.user.last_name %></td>
        <td><%= listing.user.skill_level %></td>
        <td><%= time_ago_in_words(listing.created_at) %></td>
        <td>
          <a href="/listings/<%= listing.id %>" class="btn btn-primary">Show</a>
          <% if listing.user_id != current_user.id %>
            <a href="/listings/<%= listing.id %>/edit" class="btn btn-warning">Request</a>
          <%end %>
          <% if listing.user_id == current_user.id %>
            <a href="/listings/<%= listing.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_listing/<%= listing.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <%end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
