<!-- Validation failure messages -->
<% if @listing.errors.any? %>
  <% @listing.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Listing</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_listing" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for date -->
      <!-- unused column -->

      <!-- Label and input for start_time -->
      <div class='input-group date' id='datetimepicker1'>
        <label for="start_time" class="control-label">
          Start Time
        </label>
        <input type='text' class="form-control" name="start_time" id="start_time">
        <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <script type="text/javascript">
        $(function () {
        $('#datetimepicker1').datetimepicker();
        });
      </script>

      <!-- Label and input for end_time -->
      <div class='input-group date' id='datetimepicker2'>
        <label for="end_time" class="control-label">
          End Time
        </label>
        <input type='text' class="form-control" name="end_time" id="end_time">
        <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <script type="text/javascript">
        $(function () {
        $('#datetimepicker2').datetimepicker();
        });
      </script>

      <!-- Label and input for recurring
      <div class="checkbox">
        <label for="recurring">
          <input type="checkbox" id="recurring" name="recurring" value="1" <%= "checked" if @listing.recurring %>>
          Recurring
        </label>
      </div>
      NOT BEING USED  -->


      <!-- Label and input for no_of_weeks
      <div class="form-group">
        <label for="no_of_weeks" class="control-label">
          No of weeks
        </label>

        <input type="text" id="no_of_weeks" name="no_of_weeks" placeholder="No of weeks" class="form-control" value="<%= @listing.no_of_weeks %>">
      </div>
      NOT BEING USED -->

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="<%= @listing.location %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
      <!--  <label for="user_id" class="control-label">
          User
        </label> -->

        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
      </div>

      <button class="btn btn-success">
        Create Listing
      </button>
      or
      <a href="/listings">Cancel</a>
    </form>
  </div>
</div>
